#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.page {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 5px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  pointer-events: none;
  z-index: 10;
}